
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}
<style>
    #divDanhMucSP{
        display:none;
    }
    /*.nivoSlider{
        display:none;
    }*/
    .img{
         display:none;

    }
</style>
<h2 style="color:red;text-align:center">Đặt hàng thành công!<br />Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất.</h2>
<p style="color:blue">
    @Html.ActionLink("Về trang chủ", "Index", "Home")
</p>