
@{
    ViewBag.Title = "HuongDan";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}
<style>
      .aaaa{
        display:none;
    }
    .aaaaa{
        display:none;
    }
    .img{
        display:none;
    }
    #divDanhMucSP{
        display:none;
    }
</style>
<div style="font-weight:normal;width:80%; margin-left:10%">
    <img src="~/HinhAnh/bìa2.jpg" />
    <h2>Uống Cafe Đúng Cách – Nghệ Thuật Thưởng Thức Cafe</h2>
    <p>Ngày nay, cà phê đã trở thành thứ thức uống vô cùng quen thuộc. Nó giúp chúng ta có được sự sảng khoái và năng lượng để đương đầu với áp lực của cuộc sống hiện đại. Có thể bạn đã uống cafe nhưng bạn có thực sự biết cách thưởng thức nó?</p>
    <br />
    <p>Muốn mọi thứ được hoàn hảo cần phải có công thức hoàn hảo và tuân thủ theo đúng quy luật. Uống cafe cũng vậy, có một số điều chúng ta cần lưu ý như sau:</p>
    <br />
    <h2>1. Uống Cafe Với ” Bộ Dụng Cụ Chuyên Dụng “</h2>
    <br />
    <h3>Ấm cà phê</h3>
    <br />
    <p>Khi nhà có khách, nên dùng ấm đựng cà phê bằng gốm, sứ, bạc hay bằng thép không rỉ, tùy thuộc vào màu sắc của bộ chén cà phê của bạn. Trên tất cả, ấm cà phê phải được tráng bằng nước nóng để cà phê không bị nguội trước khi được rót ra chén. Còn khi bạn thưởng thức cà phê một mình thì vẫn có thể rót thẳng cà phê từ ấm pha ra chén.</p>
    <img src="~/HinhAnh/ấm cafe.jpg" />
    <br />
    <h3>Bát đựng đường</h3>
    <br />
    <p>Bạn nên bày vài loại đường khác nhau, đường trắng hay đường nâu để mang đến nhiều lựa chọn. Bát đựng đường thường là  những cái bát nhỏ, đa số là một phần trong bộ đồ cà phê, có thể là bằng bạc hoặc bằng sứ. Bát đường nên có thìa riêng để xúc đường.</p>
    <br />
    <h3>Cốc đựng sữa</h3>
    <br />
    <p>Nhiều người thích pha sữa vào cà phê, bạn nên có một cốc đựng sữa tươi hay cream khi mang cà phê mời khách. Nên tránh dùng sữa đặc có đường vì sữa này chất lượng không cao và lại quá ngọt cho một số người.</p>
    <br />
    <h3>Đồ ngọt</h3>
    <br />
    <img src="~/HinhAnh/foody-mobile-coffee-cake-cafe1-jp.jpg" />
    <br />
    <p>
        Cà phê mang vị đắng nên có tương đối nhiều loại đồ ngọt cho bạn lựa chọn để ăn kèm với cà phê. Tùy thuộc vào thời điểm thưởng thức mà ta có như sau  vào buổi sáng bạn nên mời khách bánh ngọt có nhiều bơ và trứng) hoặc bánh sừng bò (croissants). Sau bữa trưa hay bữa tối thì nên dùng chocolates, bánh quy. ( Người Anh thích uống cafe với kẹo chocolate bạc hà vào buổi tối).
        Nhớ bày thêm khăn ăn cho khách nhé.
    </p>
    <br />
    <h2>2. Những Quy Tắc Bất Di Bất Dịch</h2>
    <ul>
        <li>Khi rót cà phê chỉ rót đến 2/3 chén. Nếu cho đường thì cho vào sau khi đã rót cà phê ra chén.</li>
        <li>Khuấy đường thì nên khuấy nhẹ theo hướng từ trên xuống dưới và ngược lại chứ không khuấy theo vòng tròn. Vì khi khuấy cà phê theo vòng tròn sẽ tạo ra tiếng lanh canh lanh canh bên trong chén.</li>
        <li>Trong khi uống hãy bỏ thìa ra khỏi chén. Khi uống xong hãy để thìa vào trong chén.</li>
        <li>Dùng thìa xúc cà phê lên uống, dù chỉ là một chút để xem cà phê đã đủ ngọt hay chưa.Đừng bao giờ chấm bánh quy, hay bất cứ loại bánh gì vào cà phê và vừa uống vừa ăn.</li>
        <li>Đừng uống cà phê kiểu húp sùm sụp. Ghé môi uống thật êm từ chén. Khi uống nếu dùng tay phải nâng chén lên môi, tay trái đỡ cái tách thì thật là duyên dáng.</li>
        <li>Đừng dùng thìa xúc cà phê lên uống dù là ở tiệm hay ở nhà.</li>
        <li>Khi ở quán cà phê, đừng đặt túi xách hay khuỷu tay của mình lên quầy khi gọi cà phê.</li>
        <li>Không nên hâm nóng lại cà phê.</li>
        <li>Nên uống cafe ngay sau khi pha. Đừng để cafe nguội.</li>
        <li>Đừng sử dụng lại bã cà phê để pha.</li>
    </ul>
    <p>Có người nói: “Cà phê không phải là thú thanh thản như trà, càng không mạnh mẽ bạo liệt như rượu. Người thưởng thức nhẹ nhàng cho rằng cà phê là gạch nối giữa niềm vui và nỗi buồn. Với ai đang muộn phiền, cà phê càng day dứt như một bản nhạc có nhiều dấu lặng. Còn những kẻ môn đồ của giáo phái cà phê thì cho đó là người đàn bà mang bùa ngải trong mình….”</p>
    <p>Thưởng thức cà phê giống như chiêm nghiệm lại cuộc đời. Hãy cư xử với ly cà phê như với chính bản thân mình.</p>
</div>