
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}
<style>
    .aaaa{
        display:none;
    }
    .aaaaa{
        display:none;
    }
    .img{
        display:none;
    }
    #divDanhMucSP {
        display: none;
    }
</style>
<hr />
<img src="~/HinhAnh/logo.png" style="margin-left:35%;" />
<div style="font-weight:normal;width:80%; margin-left:10%">
    <h2>1.Cà phê có lợi cho sức khỏe</h2>
    <p>Đối lập với không ít nhược điểm trên, cà phê được phát hiện là một loại thức uống có lợi cho sức khỏe. Sỡ dĩ có điều như vậy là bởi vì cà phê chứa chất chống oxy hóa cực lớn. Mỗi ngày uống một đến hai tách cà phê có thể cải thiện sức khỏe của bạn từng ngày.</p>
    <h2>2.Cà phê được phát hiện bởi loài dê</h2>
    <p>Theo lịch sử cho biết, từ hàng nghìn năm về trước, tại một sườn núi ở châu Phi, có một đàn dê đã mắc phải chứng mất ngủ kỳ lạ vì ăn phải quả cà phê đỏ mọng. Theo đó, người chăn dê đã tìm hiểu kỹ điều này và kể lại sự tình với một mục sư. Từ đó cà phê ra đời và phát triển cho đến ngày hôm nay.</p>
    <h2>3.Rang cà phê chính là giai đoạn quan trọng nhất để tạo ra một quả cà phê thơm ngon</h2>
    <p>Cà phê ngon hay không đều phụ thuộc vào giai đoạn rang cà phê. Theo các chuyên gia, ở 400 độ C hạt cà phê bắt đầu chảy dầu và mang lại mùi thơm đặc trưng. Nếu dầu càng nhiều thì hạt cà phê sẽ càng ngon và từ đó mới có được cốc cà phê thơm ngon đến từng giọt.</p>
    <h2>4.Cà phê gây mất ngủ</h2>
    <p>Không thể phủ nhận điều này, đối với những người không thường xuyên uống cà phê, bạn có thể bị say cà phê và bị mất ngủ nhiều đêm nếu như uống phải cà phê.</p>
    <h2>5.Cà phê từng là thức uống bị phản đối mạnh mẽ</h2>
    <p>Vào năm 1674, tại nước Anh phụ nữ từng biểu tình chống lại những người buôn bán cà phê với lý do vì cà phê làm cho chồng họ không có hứng thú trong chuyện chăn gối. Tại đây, phụ nữ đã đề nghị một đạo luật cấm đàn ông dưới 60 tuổi uống cà phê.</p>
    <h2>6.1400 tỷ tách cà phê được tiêu thụ</h2>
    <p>Theo một nghiên cứu mới nhất, trung bình mỗi ngày có tới 1400 tỷ tách cà phê được tiêu thụ trên toàn thế giới. Đây quả là một sự thật thú vị về cà phê phải không nào!</p>
    <p>Hàng ngày có hàng tỷ người sử dụng cà phê</p>
    <h2>7.Cà phê giúp tăng kích thích cho phái nữ</h2>
    <p>Nếu như phái nữ uống 1 ly cà phê trước khi đi ngủ, chắc chắn bạn sẽ bị tăng kích thích từ đó khả năng tình dục của phái nữ cũng trỗi dậy mạnh mẽ. Tuy nhiên, điều này chỉ nên áp dụng đối với những người không uống cà phê thường xuyên thôi nhé.</p>
    <h2>8.Bã cà phê có thể được tái sử dụng</h2>
    <p>Theo một số nhà khoa học cho biết, họ đã tìm ra được phương pháp chế biến lại bã cà phê trở thành một nguồn nhiên liệu tạo ra năng lượng. Một số người khác thậm chí có thể sử dụng bã cà phê để tạo ra thức uống có cồn trong cuộc sống của họ.</p>
</div>
